input.search {
    border: 2px solid coral;
    border-right: none;
    width: 350px;
    text-align: center;
    padding: 11px;
    border-radius: 10px 0 0 10px;
}
input.search_btn {
    border: 2px solid coral;
    border-left: none;
    color: white;
    background: coral;
    font-size: 20px;
    padding-bottom: 10px !IMPORTANT;
    padding: 6px 30px;
    border-radius: 0 10px 10px 0;
}
.search:focus-visible {
    outline: none;
}
.table_data{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
